.u-section-1 .u-sheet-1 {min-height: 600px}
.u-section-1 .u-image-1 {width: 1865px; min-height: 600px; background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/bane-batman-wallpaper-1080.jpg"); background-position: 50% 31.48%; margin: 0 -362px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-group-2 {width: 1443px; min-height: 602px; margin: -30px auto -102px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-1 {text-shadow: -4px 0 19px rgba(128,128,128,1); animation-duration: 1000ms; font-size: 4.5rem; margin: 0 134px 0 122px}
.u-section-1 .u-text-2 {text-shadow: 2px 2px 8px rgba(0,0,0,0.4); font-size: 1.25rem; margin: 20px 134px 0 122px}
.u-section-1 .u-btn-1 {background-image: none; animation-duration: 1500ms; margin: 20px auto 0 557px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 452px}
.u-section-1 .u-image-1 {width: 940px; margin-right: 0; margin-left: 0}
.u-section-1 .u-group-2 {width: 880px}
.u-section-1 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-1 .u-btn-1 {margin-top: 0; margin-left: auto} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 404px}
.u-section-1 .u-image-1 {width: 720px}
.u-section-1 .u-group-2 {width: 660px}
.u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-text-2 {font-size: 1.11111rem}
.u-section-1 .u-btn-1 {margin-top: 20px} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-2 {width: 520px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 712px}
.u-section-1 .u-image-1 {width: 340px; margin-bottom: 60px}
.u-section-1 .u-group-2 {width: 320px} }.u-section-2 {min-height: 500px; margin-top: 0; margin-bottom: 0}
.u-section-2 .u-text-1 {margin: 20px auto 0}
.u-section-2 .u-layout-wrap-1 {width: 1423px; margin: 33px auto 13px}
.u-section-2 .u-layout-cell-1 {min-height: 627px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {height: 457px; width: 300px; animation-duration: 1000ms; margin: 0 -4px 0 auto}
.u-section-2 .u-btn-1 {background-image: none; border-style: none none solid; margin: 20px auto 0 3px; padding: 0}
.u-section-2 .u-text-2 {margin-left: 0; font-weight: 700; font-size: 1.11111rem; margin-top: 20px; margin-bottom: 0}
.u-section-2 .u-layout-cell-2 {min-height: 627px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-2 {height: 457px; width: 300px; animation-duration: 1000ms; margin: 0 -4px 0 auto}
.u-section-2 .u-btn-2 {background-image: none; border-style: none none solid; margin: 20px auto 0 3px; padding: 0}
.u-section-2 .u-text-3 {margin-left: 0; font-weight: 700; font-size: 1.11111rem; margin-top: 20px; margin-bottom: 0}
.u-section-2 .u-layout-cell-3 {min-height: 627px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-image-3 {height: 457px; width: 300px; animation-duration: 1000ms; margin: 0 -4px 0 auto}
.u-section-2 .u-btn-3 {background-image: none; border-style: none none solid; margin: 20px auto 0 3px; padding: 0}
.u-section-2 .u-text-4 {margin-left: 0; font-weight: 700; font-size: 1.11111rem; margin-top: 20px; margin-bottom: 0}
.u-section-2 .u-layout-cell-4 {min-height: 627px}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-image-4 {height: 457px; width: 300px; animation-duration: 1000ms; margin: 0 -4px 0 auto}
.u-section-2 .u-btn-4 {background-image: none; border-style: none none solid; margin: 20px auto 0 3px; padding: 0}
.u-section-2 .u-text-5 {margin-left: 0; font-weight: 700; font-size: 1.11111rem; margin-top: 20px; margin-bottom: 0} 

@media (max-width: 1199px){ .u-section-2 {min-height: 597px}
.u-section-2 .u-text-1 {margin-top: 17px}
.u-section-2 .u-layout-wrap-1 {width: 990px; margin-bottom: 17px}
.u-section-2 .u-layout-cell-1 {min-height: 463px}
.u-section-2 .u-image-1 {height: 267px; width: 175px; margin-right: 0}
.u-section-2 .u-btn-1 {height: 38px; margin-left: auto}
.u-section-2 .u-text-2 {margin-left: auto; margin-right: auto}
.u-section-2 .u-layout-cell-2 {min-height: 463px}
.u-section-2 .u-image-2 {height: 267px; width: 175px; margin-right: 0}
.u-section-2 .u-btn-2 {height: 38px; margin-left: auto}
.u-section-2 .u-text-3 {margin-left: auto; margin-right: auto}
.u-section-2 .u-layout-cell-3 {min-height: 463px}
.u-section-2 .u-image-3 {height: 267px; width: 175px; margin-right: 0}
.u-section-2 .u-btn-3 {height: 38px; margin-left: auto}
.u-section-2 .u-text-4 {margin-left: auto; margin-right: auto}
.u-section-2 .u-layout-cell-4 {min-height: 436px}
.u-section-2 .u-image-4 {height: 286px; width: 188px; margin-right: 0}
.u-section-2 .u-btn-4 {margin-left: 0} }

@media (max-width: 991px){ .u-section-2 {min-height: 73px}
.u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {height: 460px; width: 300px}
.u-section-2 .u-btn-1 {width: 111px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-image-2 {height: 460px; width: 300px}
.u-section-2 .u-btn-2 {width: 111px}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-image-3 {height: 460px; width: 300px}
.u-section-2 .u-btn-3 {width: 111px}
.u-section-2 .u-layout-cell-4 {min-height: 100px}
.u-section-2 .u-image-4 {height: 454px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-btn-4 {align-self: center; margin-left: 84px}
.u-section-2 .u-text-5 {margin-left: auto; margin-right: auto} }

@media (max-width: 767px){ .u-section-2 {min-height: 173px}
.u-section-2 .u-layout-wrap-1 {width: 540px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {margin-right: auto}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-2 {margin-right: auto}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-3 {margin-right: auto}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-4 {height: 460px; width: 300px; margin-left: auto; margin-right: auto}
.u-section-2 .u-btn-4 {margin-left: 194px} }

@media (max-width: 575px){ .u-section-2 {min-height: 62px}
.u-section-2 .u-layout-wrap-1 {width: 340px}
.u-section-2 .u-btn-4 {margin-left: 0} }.u-section-3 {min-height: 500px; margin-top: 0; margin-bottom: 0}
.u-section-3 .u-text-1 {margin: 20px auto 0}
.u-section-3 .u-layout-wrap-1 {width: 1423px; margin: 33px auto 13px}
.u-section-3 .u-layout-cell-1 {min-height: 627px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {height: 457px; width: 300px; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-3 .u-btn-1 {background-image: none; border-style: none none solid; margin: 20px auto 0 3px; padding: 0}
.u-section-3 .u-text-2 {margin-left: 0; font-weight: 700; font-size: 1.11111rem; margin-top: 20px; margin-bottom: 0}
.u-section-3 .u-layout-cell-2 {min-height: 627px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-image-2 {height: 457px; width: 300px; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-3 .u-btn-2 {background-image: none; border-style: none none solid; margin: 20px auto 0 3px; padding: 0}
.u-section-3 .u-text-3 {margin-left: 0; font-weight: 700; font-size: 1.11111rem; margin-top: 20px; margin-bottom: 0}
.u-section-3 .u-layout-cell-3 {min-height: 627px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-3 {height: 457px; width: 300px; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-3 .u-btn-3 {background-image: none; border-style: none none solid; margin: 20px auto 0 3px; padding: 0}
.u-section-3 .u-text-4 {margin-left: 0; font-weight: 700; font-size: 1.11111rem; margin-top: 20px; margin-bottom: 0}
.u-section-3 .u-layout-cell-4 {min-height: 627px}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-image-4 {height: 457px; width: 300px; animation-duration: 1000ms; margin: 0 -7px 0 auto}
.u-section-3 .u-btn-4 {background-image: none; border-style: none none solid; margin: 20px auto 0 3px; padding: 0}
.u-section-3 .u-text-5 {margin-left: 0; font-weight: 700; font-size: 1.11111rem; margin-top: 20px; margin-bottom: 0} 

@media (max-width: 1199px){ .u-section-3 {min-height: 597px}
.u-section-3 .u-text-1 {margin-top: 17px}
.u-section-3 .u-layout-wrap-1 {width: 990px; margin-bottom: 17px}
.u-section-3 .u-layout-cell-1 {min-height: 463px}
.u-section-3 .u-image-1 {height: 267px; width: 175px; margin-left: auto}
.u-section-3 .u-btn-1 {height: 38px; margin-left: auto}
.u-section-3 .u-text-2 {margin-left: auto; margin-right: auto}
.u-section-3 .u-layout-cell-2 {min-height: 463px}
.u-section-3 .u-image-2 {height: 267px; width: 175px; margin-left: auto}
.u-section-3 .u-btn-2 {height: 38px; margin-left: auto}
.u-section-3 .u-text-3 {margin-left: auto; margin-right: auto}
.u-section-3 .u-layout-cell-3 {min-height: 436px}
.u-section-3 .u-image-3 {height: 286px; width: 188px}
.u-section-3 .u-btn-3 {margin-left: 0}
.u-section-3 .u-layout-cell-4 {min-height: 436px}
.u-section-3 .u-image-4 {height: 286px; width: 188px; margin-right: 0}
.u-section-3 .u-btn-4 {margin-left: 0} }

@media (max-width: 991px){ .u-section-3 {min-height: 73px}
.u-section-3 .u-layout-wrap-1 {width: 720px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-image-1 {height: 460px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-btn-1 {width: 111px; align-self: center; margin-left: 84px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-2 {height: 460px; width: 300px}
.u-section-3 .u-btn-2 {width: 111px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-image-3 {height: 460px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-btn-3 {margin-left: 84px}
.u-section-3 .u-text-4 {margin-left: auto; margin-right: auto}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-image-4 {height: 460px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-btn-4 {margin-left: 84px}
.u-section-3 .u-text-5 {margin-left: auto; margin-right: auto} }

@media (max-width: 767px){ .u-section-3 {min-height: 173px}
.u-section-3 .u-layout-wrap-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {width: 300px; margin-top: -7px; margin-left: auto; margin-right: auto}
.u-section-3 .u-btn-1 {margin-top: 27px; margin-left: 194px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-3 {width: 300px; margin-left: auto; margin-right: auto}
.u-section-3 .u-btn-3 {align-self: center; margin-left: 194px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-4 {width: 300px; margin-left: auto; margin-right: auto}
.u-section-3 .u-btn-4 {align-self: center; margin-left: 194px} }

@media (max-width: 575px){ .u-section-3 {min-height: 62px}
.u-section-3 .u-layout-wrap-1 {width: 340px}
.u-section-3 .u-btn-3 {margin-left: 0}
.u-section-3 .u-btn-4 {margin-left: 0} }.u-section-4 .u-sheet-1 {min-height: 691px}
.u-section-4 .u-text-1 {width: 550px; font-weight: 700; margin: 60px auto 0}
.u-section-4 .u-form-1 {height: 350px; margin: 30px 0 0}
.u-section-4 .u-input-1 {font-size: 1.27778rem}
.u-section-4 .u-input-2 {font-size: 1.27778rem}
.u-section-4 .u-input-3 {font-size: 1.27778rem}
.u-section-4 .u-social-icons-1 {white-space: nowrap; height: 55px; min-height: 16px; width: 186px; min-width: 68px; animation-duration: 1000ms; margin: 30px auto 60px}
.u-section-4 .u-icon-1 {height: 100%}
.u-section-4 .u-icon-2 {height: 100%}
.u-section-4 .u-icon-3 {height: 100%} 

@media (max-width: 1199px){ .u-section-4 .u-form-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-social-icons-1 {margin-top: 15px} }

@media (max-width: 767px){ .u-section-4 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-4 .u-text-1 {width: 340px}
.u-section-4 .u-form-group-1 {width: 100%}
.u-section-4 .u-form-group-2 {width: 100%}
.u-section-4 .u-form-group-3 {width: 100%}
.u-section-4 .u-form-group-4 {width: 100%} }